.loginForm {
    margin-top:40px;
    background-color: #fff;
    height:350px;
    width: 348px;
    padding:10px 0px;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#facebook__login_1{
    border : none;
    background-color: #fff;
    color: #385185;
    font-weight: 700;
}