* {
  background-color: #fff;
}

.userProfile {
  width: 1000px;
  justify-content: center;
  margin: 50px auto;
}
@media screen and (max-width: 1000px) {
  .userProfile {
    width: 100vw;
  }
}

.follow-warning {
  text-align: center;
}
