.search_box {
  position: absolute;
  top: 50px;
  width: 400px;
  border: 1px solid #000;
}

.search_box_hidden {
  display: none;
}

.foundItem {
  padding: 2px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(175, 175, 175);
  cursor: pointer;
}
