.userPosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}
.grid-pic {
  width: 35vh;
  height: 35vh;
  background-size: cover;
  background-position: center;
  background-color: #000;
}
@media screen and (max-width: 1000px) {
  .userPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    margin: auto auto;
  }
  .grid-pic {
    width: 97%;
    object-fit: contain;
    background-color: #000;
  }
}
